div.row {
    margin-top: 20px;
}

div.image {
    margin-top: 20px;
    width: 100%;
}
div.profile_header {
    width: 100%;
    background: url("/static/img/header.jpg");
    width: 100%;
    height: 200px;
    margin-bottom: 3%;
    padding-top: 2.1%;
}

div.profile_header_content{
    font-family: tvN즐거운이야기B;
    font-size: 80px;
    text-align: center;
}

div.profile_content {
    width:100%;
}
div.user{
    background-color: #f0ebeb
}

div.user_image{
    display: inline-block;
    margin-right: 3%;
    background-color: white;
}

div.user_info{
    display: inline-block;
    font-family: NanumBarunPen;
    font-size: 30px;
    background-color: white;
    width: 75.666667%;
    height: 325px;
    vertical-align: middle;
}

button.btn{
    background: gray;
    border: solid 1.5px #c8c5c5;
    padding-bottom: 3%;

}

div#title{
    font-family: NanumBarunGothic;
    display: inline-block;
}

div.user_info > p#info_header{
    font-family: 맨발의청춘R;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0101e0;
}

div.button_collection{
    background-color: #f0ebeb;
    padding-top: 10px;
    margin-top: 0.5%;;
}
div.project{
    margin-top: 5px;
}


h4#team_name{
    font-size: 20px;
    color: #277cbf;
}

div.doingproject{
    display: inline-block;
    font-family: NanumBarunPen;
    background-color: white;
    width: 490px;
    vertical-align: middle;
    padding-top: 33px;
    margin-top: 20px;
}

div.finishproject{
    display: inline-block;
    font-family: NanumBarunPen;
    background-color: white;
    width: 490px;
    vertical-align: middle;
    padding-top: 33px;
    margin-top: 20px;

}

ul.collapsible{
    font-family: NanumBarunGothic;
}

div.team_member_list{
    margin-top: 20px;

}


p {
    margin-top: 1%;
    margin-bottom: 0%;
}
