{% extends 'base.html' %}

{% load static %}

{% block content %}

{% for blog in blog_list %}
<ul>
  <li class = "list_set">
    <div class = "media" >
      <a href = "{% url 'ClubBoard:blog_detail' blog.pk %}"><img src = "{{ blog.image_url }}"></a>
      </div>
      <div class = "content">
        <div class = "title">
          <a href = "{% url 'ClubBoard:blog_detail' blog.pk %}"><p>{{ blog.title }}/{{ blog.created_at }}</p></a>
        </div>
        <div class = "author">
          <p>{{ blog.author }}</p>
        </div>
      </div>
    </div>
  </li>
  </ul>

{% endfor %}
<a href="{% url 'ClubBoard:blog_create' %}">
    <button>글쓰기</button>
</a>
{% endblock %}