{% extends 'base.html' %}
{% block content %}
<div style="margin-top: 20px;">
  <p>쪽지 쓰기</p>
  <p>받는 사람: {{ receiver }}</p>
  <hr><br>
  <form id="message_send" method="POST">
    <button type="submit">전송</button>
    {% csrf_token %}
    <div style="margin-bottom: 20px">
      {{form.as_p}}
    </div>
  </form>
  <script>
    $('#message_send').submit(function(e) {
        if (!confirm('메세지를 전송하시겠습니까?')) {
            e.preventDefault();
        }
        else {
            alert('메시지가 전송되었습니다.')
        }
    });
  </script>
</div>

{% endblock %}