{% extends 'base.html' %}
{% block content %}
  <table style="table-layout: fixed">
    <thead>
    <tr>
      <th style="width: 20%">받는사람</th>
      <th style="width: 50%">제목</th>
      <th style="width: 25%">날짜</th>
      <th style="width: 25%">수신확인</th>
    </tr>
    </thead>
    <tbody>
    {% if messages %}
    {% for message in messages %}
      <tr>
        <td><a href="{% url 'accounts:myinfo' message.receiver %}">{{ message.receiver }}</a></td>
        <td><a href="{% url 'message:message_detail' message.pk %}">{{ message.title }}</a></td>
        <td>
          {% if message.is_today %}
          {{ message.send_time|date:"H:i" }}
          {% else %}
          {{ message.send_time|date:"Y.m.d" }}
          {% endif %}
        </td>
        <td>{% if message.is_read %}{{ message.read_time|date:"Y.m.d H:i" }}{% else %}읽지않음{% endif %}</td>
      </tr>
    {% endfor %}
    {% else %}
      <tr>
        <td>메세지가 없습니다.</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
{% endblock %}
