li.list_set {
    float:left;
    padding: 10px;
}

.card-image{
    height: 250px;
}
img.image{
    height: 100%;
}

.sorting:hover{
    color: #9fc3e0;
}

.sorting .active {

}

.detail_list_wrapper{
    margin: auto;
    margin-top: 50px;
}

.detail_list_wrapper a{
    left:50%;
    right: 50%;
}

.card_wrapper{
    width: 250px;
    height: 500px   ;
    display: inline-block;
    margin-left: 30px;
    margin-right:30px;
}


.card-content{
    position: relative;
}


.card-author{
    float: right;
}

.card_author p {
    color: gray !important;
}



#search_table{
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    border: 0.5px solid black;
}

li.indicator{
    background-color: darkgreen !important;
}

li.tab a{
    font-weight: bold;
    color: gray;
}

li.tab a:hover{
    color: darkgreen !important;
}

a.card-title{
    height: 64px !important;
    max-height: 65px!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    color: black;
    font-weight: 400!important;
    font-size: large !important;
}

a.active {
    color: darkgreen !important;
}

label {
    color: black;
}

button {
    margin: auto;
    display: block;
    width: 20%;
    background-color: green !important;
    font-family: NanumBarunPen;
}