{% extends 'base.html' %}

{% block content %}

<style>

p {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;

}

</style>

<div style="margin: 20px 0; font-size: 30px; font-weight: bold; text-align: center; font-family: NanumBarunPen;">
    기획 게시판
</div>

<form method = "POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="margin: 20px 0; font-family: NanumBarunPen; border: 1px solid #ccc; border-radius: 4px;">
    {{ form.as_p }}
    <div style="text-align: center;">
      <button type="submit" class="waves-effect waves-light btn" style="color: white; background-color: darkgreen; padding: 5px 140px; padding-bottom: 40px; font-family: NanumBarunPen; margin-bottom: 25px;">작성하기</button>
    </div>
  </div>
</form>


<script>
  $(document).ready(function() {
      $('select').material_select();
      {#$('select[name="subregion"]').closest("div").children('ul').append('<li class=""><span><input type="checkbox"><label></label>강남구</span></li>');#}
      {#$('select').material_select();#}
  });

$('.date_picker').pickadate({
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false, // Close upon selecting a date,
    format:'yyyy-mm-dd',
    min: Date.now()
});

  $('select[name="region"]').change(function () {
      var selected_region = $(this).val();
      var url = '/board/planning/get_subregion/'+selected_region;
      $.post(url)
          .done(function (r) {
              $('select[name="subregion"] option').remove();
              $('select[name="subregion"]').append(r);
              $('select').material_select();
          })
  });
  $('#id_recruiting_number').parent().addClass('range-field')
</script>
{% endblock %}


