
{% extends 'base.html' %}
{%load static%}
{% block content %}
  <link href="{% static 'css/board.css' %}?ver=1" rel="stylesheet">
{% block staticcss %}{% endblock %}


  <div id="search_table" style="margin-top: 15px">

  <div class="region_category">



<form id="tag_search_form" method="POST">
{% csrf_token %}
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4" ><a class ='activate' href="#local">지역</a></li>
        <li class="tab col s4"><a href="#language">언어</a></li>
        <li class="tab col s4"><a href="#project">프로젝트</a></li>
      </ul>
    </div>
    <div id="local" class="col s12">
      <div id="province_cateogory" style="margin:10px">
        <select name="province" id="province">
          <option value="" disabled selected>지역</option>
          {% for province in province_list %}
            <option value="{{ province.pk }}" id="{{ province.pk }}_province">{{ province.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="city_category" style="margin: 10px">
        {% for province in province_list %}
          <div class="{{ province.pk }}_city hide">
            <input type="checkbox" id="all_{{ province.pk }}" name="city_all" value="{{ province.pk }}">
            <label for="all_{{ province.pk }}">전체선택</label>
          </div>
          {% for city in province.subregions.all %}
            <div  class="{{ province.pk }}_city hide" style="display: inline-block; width: 150px">
              <input type="checkbox" id="{{ city.pk }}_city" name="city" value="{{ city.pk }}">
              <label for="{{ city.pk }}_city">{{ city }}</label>
            </div>
          {% endfor %}
        {% endfor %}
      </div>


    </div>
    <div id="language" class="col s12">
      <div class="language_category" style="margin:10px">
        <div id="language_category">
          <input type="checkbox" id="language_all" name="language_all" value="all">
          <label for="language_all">전체선택</label>
          {% for language in language_list %}
            <div class="{{ language.pk }}_language">
              <input type="checkbox" id="language_{{ language.pk }}" name="language" value="{{ language.pk }}">
              <label for="language_{{ language.pk }}">{{ language }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="project" class="col s12" style="margin:10px">
      <div class="project_category">
        <div id="project_category">
          <input type="checkbox" id="project_all" name="project_all" value="all">
          <label for="project_all">전체선택</label>
          {% for project in project_list %}
            <div class="{{ project.pk }}_project">
              <input type="checkbox" id="project_{{ project.pk }}" name="project" value="{{ project.pk }}">
              <label for="project_{{ project.pk }}">{{ project }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <button id="search_button" type="submit" class="waves-effect waves-light btn" style="float: right; margin-right: 20px;">검색</button>
  </div>
</form>
  </div>
</div>

<script>

$(document).ready(function() {
    $('select[name="province"]').val('{{ selected_province_pk }}');
    $('select').material_select();
    {% for city in selected_city_pk %}
        $('#{{ city }}_city').get(0).checked=true;
    {% endfor %}

    {% for language in selected_language_pk %}
        $('#language_{{ language }}').get(0).checked=true;
    {% endfor %}

    {% for project in selected_project_pk %}
        $('#project_{{ project }}').get(0).checked=true;
    {% endfor %}

    if ({{ selected_province_pk }} != 0){
        $('select').change();
    }
    {% if selected_region_all %}
        $('#all_'+{{ selected_region_all }}).click();
    {% endif %}
  });

var target= document.getElementById("province");
var selected_province_pk = target.options[target.selectedIndex].value;
$('select[name="province"]').change(function () {
    $('div.'+selected_province_pk+'_city').addClass('hide');
    for (var i=0; i< $('div.'+selected_province_pk+'_city input').length; i++){
         $('div.'+selected_province_pk+'_city input').get(i).checked = false
    }
    selected_province_pk = target.options[target.selectedIndex].value;
    $('div.'+selected_province_pk+'_city').removeClass('hide');
    var checkboxes = $('input[type="checkbox"]');
    for (var i=0; i<checkboxes.length; i++){
        checkboxes.get(i).disabled=false;
    }
});

$('input[name="city_all"]').click(function () {
    var checkboxes = $('input[name="city"]');
    if($(this).is(':checked')){
        for(var i=0; i<checkboxes.length; i++){
            checkboxes.get(i).checked = false;
            checkboxes.get(i).disabled = true;
        }
    }else{
        for(var i=0; i<checkboxes.length; i++){
            checkboxes.get(i).disabled = false;
        }
    }
})
$('#language_all').click(function () {
    var language_checkboxes = $('input[name="language"]');
    if($(this).is(':checked')){
        console.log(language_checkboxes.length);
        for (var i=0; i<language_checkboxes.length; i++){
            language_checkboxes.get(i).disabled = true;
            language_checkboxes.get(i).checked = false;
        }
    }else {
        for (var i=0; i<language_checkboxes.length; i++){
            language_checkboxes.get(i).disabled = false;
        }
    }
})

$('#project_all').click(function () {
    var project_checkboxes = $('input[name="project"]');
    if($(this).is(':checked')){
        for (var i=0; i<project_checkboxes.length; i++){
            project_checkboxes.get(i).disabled = true;
            project_checkboxes.get(i).checked = false;
        }
    }else {
        for (var i=0; i<project_checkboxes.length; i++){
            project_checkboxes.get(i).disabled = false;
        }
    }
})
</script>


<form method="POST" action="{% url 'planningboard:alphabet' %}">
  {% csrf_token %}
    <button type="submit" id="alphabet" class='sorting btn' style="float: right">가나다순 정렬</button>
  </form>
  <form method="POST" action="{% url 'planningboard:recent' %}">
  {% csrf_token %}
    <button type="submit" id="recent" class="sorting btn" style="float: right">최신순 정렬</button>
  </form>


<div class="detail_list_wrapper">
  <ul>
    {% for detail in detail_list %}
      <li class="card_wrapper">
        <a href="{% url 'planningboard:detail' detail.pk %}">
          <div class="card">
            <div class="card-image">
              <img class="image" src="{{ detail.image_url }}">
            </div>
            <div class="card-content">
              <a class="card-title" href="{% url 'planningboard:detail' detail.pk %}">{{ detail.title }}</a>
              <a class = "card-author" href="{% url 'accounts:myinfo'  detail.author %}"><p>{{ detail.author }}</p></a>
              <p class="card_recruiting_period">{% if detail.remain_days < 0  %}모집마감{% else %}D-{{ detail.remain_days }}{% endif %}</p>
              <p class="card-recruiting_number">모집인원: {{ detail.recruiting_number }}명</p>
            </div>
          </div>
        </a>
      </>
    {% endfor %}
  </ul>
</div>

<script>

  var details = document.getElementsByClassName("collection-item avatar");
  var selected_detail_list = [];
  for(var i=0; i < details.length; i++){
    selected_detail_list.push(details[i].id);
  }
  var data = {selected_detail_list: selected_detail_list};

$('#alphabet').click(function(e){
  e.preventDefault();
  alert('알파벳!');

    var url = "{% url 'planningboard:alphabet' %}";
  $.post(url, data)
    .done(
    function(r){
      $('ul.collection').replaceWith(r)
    })
    .fail(function(){
      alert('Error!')
    })
});

$('#recent').click(function(e){
  e.preventDefault();
  alert('최신순!');

  var url = "{% url 'planningboard:recent' %}";
  $.post(url, data)
    .done(
    function(r){
      $('ul.collection').replaceWith(r)
    })
    .fail(function(){
      alert('Error!')
    })
});

</script>
<a id="create_button" href="{% url 'planningboard:create' %}" class="waves-effect waves-light btn" style="float: right">글쓰기</a>
<div class="page_display" style="text-align: center;">
    {% load mathfilters %}

    {% if startPageNum != 1 %}
        <a href="/board/planning/list?pageNum={{startPageNum | sub:1}}">[이전]</a>
    {% endif %}

    {% for i in bottomPages %}
        {% if i == pageNum %}
            <a class="active" href="/board/planning/list?pageNum={{ i }}">{{ i }}</a>
        {% else %}
            <a href="/board/planning/list?pageNum={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if endPageNum < totalPageCount %}
        <a href="/board/planning/list?pageNum={{endPageNum | add:1}}">[다음]</a>
    {% endif %}
</div>
{% endblock %}