{% extends 'base.html' %}

{% load static %}

{% block staticcss %}
  <link href="{% static 'css/accountsfix.css' %}?ver=1.01" rel="stylesheet">
{% endblock %}

{% block staticjs %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}

{% block mainpage %}
<div style="background-color: #f0ebeb;">
  <div class="container">
    <div class="row">
      <div class="profile_header">
        <div class="profile_header_content">
          <p style="display: inline-block;">{{ profile.user }}의 프로필 페이지</p>
        </div>
      </div>
      <div class="profile_content col s12">
        <div class="user col s12">
          <div class="user_image col s12 m4 l4" style="width: 280px; heigh: 335px;">
            <img src="{{ profile.image_url }}" style="height: 100%; width:100%">
          </div>
          <div class="user_info col s12 m8 l8" style="width: 74.666667%">
            <p><div id="title">email</div> {{ profile.user.email|default:"미입력" }}</p>
            <p><div id="title">생년월일</div> {{ profile.birth_date|default:"미입력" }}</p>
            <p><div id="title">학교전공</div> {{ profile.school |default:"미입력" }}</p>
            <p><div id="title">지역</div> {{ profile.location|default:"미입력" }}</p>
            <p><div id="title">경력</div> {{ profile.history|default:"미입력" }}</p>
          </div>
        </div>

        <div class="button_collection col s12">
          <button onclick="message('{% url 'message:message_send' profile.user.username %}')"class='btn' style="margin-left:2%;"><i class="material-icons">mail</i>쪽지
          </button>
          {% if leader and request.user.profile != profile %}
          <button onclick="message('{% url 'message:invite' profile.user.username %}')" class='btn'><i class="material-icons">mail</i>초대</button>
          {% endif %}
          {% if request.user.profile == profile %}
           <button onclick="{% url 'accounts:edit_myinfo'%}" class='btn'><i class="material-icons">edit</i>수정</button>
          {% endif %}
        </div>


        <div class="project col s12">
          <div class="doingproject col s12 m6 l6" style="width: 49%">
            <h4>진행 중인 프로젝트</h4>
            {% for team in team_list %}
              <a href="{% url 'team:manage_team' team.team_name %}">
              {% if team.is_activate is not False %}
                <h4 id="team_name">{{ team.team_name }}'s Team</h4>
              {% endif %}
              </a>
              <ul class="collapsible popout" data-collapsible="accordion">
              {% for team_project in team.project_set.all %}
                {% if team_project.project_end is not True %}
                  <li>
                    <div class="collapsible-header" style="background-color: #defade;">
                      <i class="material-icons">filter_drama</i>
                        {{ forloop.counter }}. {{ team_project.project_name }}
                    </div>
                    <div class="collapsible-body white">
                      <pre>{{ team_project.project_description }}</pre>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            {% endfor %}
          </div>

          <div class="finishproject col s12 m6 l6 offset-l1" style="margin-left: 3%; width: 47%">
            <h4>완성한 프로젝트</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
            {% for team in team_list %}
              {% for team_project in team.project_set.all %}
                {% if team_project.project_end %}
                  <li>
                    <div class="collapsible-header" style="background-color: #e9f8ff;">
                    <i class="material-icons">done</i>
                      {{ team_project.project_name }}
                    </div>
                    <div class="collapsible-body white">
                      <pre>{{ team_project.project_description }}</pre>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="team_member_list col s12">
          <div class="team_member col s12">
            <ul class="tabs">
            {% for team in team_list %}
              {% if team.is_activate is not False %}
                <li class="tab col s3">
                  <a href="#test{{ forloop.counter }}">{{ team.team_name }}</a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          {% for team in team_list %}
            {% if team.is_activate is not False %}
              <div id="test{{ forloop.counter }}" class="col s12" style="margin-top:5px">
                <ul class="collection">
                {% for team_member in team.member_set.all %}
                  <li class="collection-item avatar">
                  <img src="{{ team_member.member.image_url }}" alt="" class="circle">
                    <span class="title">
                      {{ team_member.member.user.get_full_name }}
                    </span>
                    <p style="color:#bd2a2a">{{ team_member.position }}</p>
                    <a href="{% url 'accounts:myinfo' team_member.member %}" class="secondary-content"><i class="material-icons">send</i></a>
                  </li>
                {% endfor %}
                </ul>
                <a href="{% url 'team:manage_team' team.team_name %}">팀 자세히보기</a>
              </div>
            {% endif %}
            {% empty %}
              <p>팀이 아직 없습니다.</p>
          {% endfor %}
          {% if request.user.profile == profile %}
            <a href="{% url 'team:createteam' %}" type="button" class="btn" style="float: right">
              팀만들기
            </a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}