{% extends 'base.html' %}

{% load static %}

{% block staticcss %}
  <link href="{% static 'css/accountsfix.css' %}?ver=1.02" rel="stylesheet">
{% endblock %}

{% block staticjs %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}

{% block mainpage %}
<div class="container">
  <div class="row">
    <div class="profile_header col s12">
      <div class="image container">
        <img src="{% static 'img/profile_header.jpg'%}" alt="#" style="width:100%;">
      </div>
    </div>
    <div class="profile_content col s12">
      <div class="user col s12">
        <div class="user_image col s12 m4 l4" style="width: 280px; heigh: 335px;">
          <img src="{{ profile.image_url }}" style="height: 100%; width:100%">
        </div>
        <div class="user_info col s12 m8 l8">
          <p>생년월일 {{ profile.birth_date|default:"미입력" }}</p>
          <p>학교전공 {{ profile.school |default:"미입력" }}</p>
          <p>지역 {{ profile.location|default:"미입력" }}</p>
          <p>경력 {{ profile.history|default:"미입력" }}</p>
        </div>
      </div>
      <div class="twitte col s12 m12 l12">
        <p>한마디 :  {{ profile.bio|default:"미입력"}}</p>
      </div>
      <div class="button_collection col s12">
        <button class="col s12 m1 l1" onclick="message('{% url 'message:message_send' profile.user.username %}')"><i class="material-icons">message</i></button>
        {% if leader and request.user.profile != profile %}
        <button class="col s12 m1 l1"onclick="message('{% url 'message:invite' profile.user.username %}')">초대</button>
        {% endif %}
        {% if request.user.profile == profile %}
         <a href="{% url 'accounts:edit_myinfo'%}" type="button" class="btn col s12 m2 l3" style="float:right">프로필수정</a>
        {% endif %}
      </div>


      <div class="project">
        <div class="doingproject col s12 m6 l6">
          <h4>진행 중인 프로젝트</h4>
          {% for team in team_list %}
            <a href="{% url 'team:manage_team' team.team_name %}">
            {% if team.is_activate is not False %}
              <h4 id="team_name">{{ team.team_name }}'s Team</h4>
            {% endif %}
            </a>
            <ul class="collapsible popout" data-collapsible="accordion">
            {% for team_project in team.project_set.all %}
              {% if team_project.project_end is not True %}
                <li>
                  <div class="collapsible-header lime lighten-4">
                    <i class="material-icons">filter_drama</i>
                      {{ forloop.counter }}. {{ team_project.project_name }}
                  </div>
                  <div class="collapsible-body white">
                    <pre>{{ team_project.project_description }}</pre>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>

        <div class="finishproject col s12 m6 l6">
          <h4>진행했던 프로젝트</h4>
          <ul class="collapsible popout" data-collapsible="accordion">
          {% for team in team_list %}
            {% for team_project in team.project_set.all %}
              {% if team_project.project_end %}
                <li>
                  <div class="collapsible-header lime lighten-4">
                  <i class="material-icons">done</i>
                    {{ team_project.project_name }}
                  </div>
                  <div class="collapsible-body white">
                    <pre>{{ team_project.project_description }}</pre>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="team_member_list col s12">
        <div class="team_member col s12">
          <ul class="tabs">
          {% for team in team_list %}
            {% if team.is_activate is not False %}
              <li class="tab col s3">
                <a href="#test{{ forloop.counter }}">{{ team.team_name }}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        {% for team in team_list %}
          {% if team.is_activate is not False %}
            <div id="test{{ forloop.counter }}" class="col s12" style="margin-top:5px">
              <ul class="collection">
              {% for team_member in team.member_set.all %}
                <li class="collection-item avatar">
                <img src="{{ team_member.member.image_url }}" alt="" class="circle">
                  <span class="title">
                    {{ team_member.member.user.get_full_name }}
                  </span>
                  <p style="color:#bd2a2a">{{ team_member.position }}</p>
                  <a href="{% url 'accounts:myinfo' team_member.member %}" class="secondary-content"><i class="material-icons">send</i></a>
                </li>
              {% endfor %}
              </ul>
              <a href="{% url 'team:manage_team' team.team_name %}">팀 자세히보기</a>
            </div>
          {% endif %}
          {% empty %}
            <p>팀이 아직 없습니다.</p>
        {% endfor %}
        {% if request.user.profile == profile %}
          <a href="{% url 'team:createteam' %}" type="button" class="btn" style="float: right">
            팀만들기
          </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}