{% extends 'base.html' %}
{% load static %}

{% block staticjs %}
<script src="{% static 'js/team.js' %}"></script>
{% endblock %}

{% block content %}
<p>{{ team.team_name }}팀의 Page입니다.</p>

<ul class="collection">
{% for team_member in team_members %}
  <li class="collection-item avatar">
   <img src="{{ team_member.member.image_url }}" alt="" class="circle">
    <span class="title">
      {{ team_member.member.user.get_full_name }}
    </span>
    <p style="color:#bd2a2a">{{ team_member.position }}</p>
    <a href="{% url 'accounts:myinfo' team_member.member %}" class="secondary-content"><i class="material-icons">send</i></a>
  </li>
{% endfor %}
</ul>
<!--Project List-->
<p>{{ team.team_name }}'s Project List</p>
<ul class="collapsible popout" data-collapsible="accordion">
{% for team_project in team.project_set.all %}
  {% include 'projectlist.html' %}
{% endfor %}
</ul>
<a href="{% url 'team:startproject' team.team_name %}" type="button" class="btn">프로젝트 시작하기</a>
<form action="{% url 'team:deleteteam' team.team_name %}" method="POST" style="display: inline-block;">
{% csrf_token %}
  <button id="delete_team_button" type="submit" class="waves-effect waves-light btn">팀 해체</button>
</form>
{% endblock %}