{% extends 'base.html' %}
{% load static %}


{% block staticcss %}
  <link href="{% static 'css/teamfix.css' %}?ver=1.00" rel="stylesheet">
{% endblock %}

{% block staticjs %}
<script src="{% static 'js/team.js' %}"></script>
{% endblock %}

{% block content %}
<p>{{ team.team_name }}팀의 Page입니다.</p>

<ul class="collection">
{% for team_member in team_members %}
  <li class="collection-item avatar">
   <img src="{{ team_member.member.image_url }}" alt="" class="circle">
    <span class="title">
      {{ team_member.member.user.get_full_name }}
    </span>
    <p style="color:#bd2a2a">{{ team_member.position }}</p>
    <a href="{% url 'accounts:myinfo' team_member.member %}" class="secondary-content"><i class="material-icons">send</i></a>
  </li>
{% endfor %}
</ul>
<!--End Project-->
<p>{{ team.team_name }}'s career</p>
<ul class="collapsible popout" data-collapsible="accordion">
{% for team_project in team.project_set.all %}
  {% if team_project.project_end %}
  <li id="project_list">
    <div class="collapsible-header">
      <i class="material-icons">done</i>
        {{ team_project.project_name }}
    </div>
    <div class="collapsible-body">
      <pre>{{ team_project.project_description }}</pre>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>

<!--Project List-->
<p>{{ team.team_name }}'s Doing Project List</p>
<ul class="collapsible popout" data-collapsible="accordion">
{% for team_project in team.project_set.all %}
  {% if team_project.project_end is not True%}
  <li id="project_list">
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
        {{ forloop.counter }}. {{ team_project.project_name }}
    </div>
    <div class="collapsible-body">
      <pre>{{ team_project.project_description }}</pre>
      <form id="project_delete_form" action="{% url 'team:deleteproject' team_project.pk %}" method="POST" style="float: right;">
        {% csrf_token %}
        <button id="delete_project_button" type="submit" class="waves-effect waves-light btn">프로젝트 취소</button>
      </form>
      <form id="project_finish_form" action="{% url 'team:endproject' team_project.pk %}" method="POST" style="float: right;">
        {% csrf_token %}
        <button id="finish_project_button" type="submit" class="waves-effect waves-light btn">프로젝트 완료</button>
      </form>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>
<a href="{% url 'team:startproject' team.team_name %}" type="button" class="btn">프로젝트 시작하기</a>
<form action="{% url 'team:deleteteam' team.team_name %}" method="POST" style="display: inline-block;">
{% csrf_token %}
  <button id="delete_team_button" type="submit" class="waves-effect waves-light btn">팀 해체</button>
</form>
{% endblock %}