@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.brand-logo {
    width: 25%;
}
.brand-logo img {
    padding: 10px 0px;
}
div#divfont {
    font-family: "Nanum Yeongjo";Nanum Yeongjo
    font-size: 80px;
    font-weight: 700;
}

#nav-fixed {
    background-color: #9fc3e0;
}

span#span-fixed{
    display: block;
    width: 35%;
}

nav#nav-content{
    display: block;
    margin-right: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
