{% extends 'base.html' %}

{% load static %}

{% block content %}

{% block staticcss %}
  <link href="{% static 'css/board.css' %}?ver=1.02" rel="stylesheet">
{% endblock %}

{% block staticjs %}
<script src="{% static 'js/planning_list.js' %}"></script>
{% endblock %}

<div style="margin: 20px 0; font-size: 30px; font-weight: bold; text-align: center; font-family: NanumBarunPen;">
    동아리 게시판
</div>
<div>
  <a id="create_button" href="{% url 'ClubBoard:blog_create' %}" class="waves-effect waves-light btn" style="
  width: 130px;
  background-color: green!important;
  display: absolute;
  top: 10;
  margin-top: 10px;
  margin-left: 10px;">글쓰기</a>
</div>

<div style="">
{% include 'blog_detail_list.html' %}
</div>

<div class="page_display" style="text-align: center; margin-bottom: 20px;">

    {% load mathfilters %}

    {% if startPageNum != 1 %}
        <a href="/board/club/list?pageNum={{startPageNum | sub:1}}" style="color: gray;">[이전]</a>
    {% endif %}

    {% for i in bottomPages %}
        {% if i == pageNum %}
            <a class="active" href="/board/planning/list?pageNum={{ i }}" style="color: gray;">{{ i }}</a>
        {% else %}
            <a href="/board/club/list?pageNum={{ i }}" style="color: gray;">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if endPageNum < totalPageCount %}
        <a href="/board/club/list?pageNum={{endPageNum | add:1}}" style="color: gray;">[다음]</a>
    {% endif %}
</div>
{% endblock %}