{% extends 'base.html' %}

{% block content %}
  <script>
    function message(url){
        window.open(url, "", "width=1000px, height=800px");
    }
  </script>
<div style="font-family: NanumBarunPen;">
  <div style="margin-top: 30px; float: right;">
    {% if request.user == detail.author %}
      <button onclick="location.href='{% url 'ClubBoard:blog_edit' detail.pk %}'" class="waves-effect waves-light btn" style="background-color: white; color: black; border: solid 1.5px #9e9b9b;">수정하기</button>
    {% endif %}

    {% if request.user == detail.author %}
    <form id='article_delete_form' action="{% url 'ClubBoard:blog_delete' detail.pk %}" method="POST" style="display: inline-block; margin-left: 10px">
      {% csrf_token %}
    <button type="submit" class="waves-effect waves-light btn" style="background-color: white; color: black; border: solid 1.5px #9e9b9b;">삭제하기</button>
    </form>
    {% endif %}
  </div>
</div>
<div style="text-align: center; font-size: 40px; font-weight: strong; margin-top: 100px; margin-bottom: 30px; font-family: 맨발의청춘R;">
  {{ detail.title }}
</div>
<div style="margin-bottom: 15px; font-family: NanumBarunPen;">
  <div class="row l12">
    <div class="col l6 valign-wrapper" style="text-align:center; height:331px;">
        <img src = "{{ detail.image_url }}" style="width: auto; height: auto; max-width: 370px; max-height: 370px; margin:auto;">
    </div>
    <div class="col l6 valign-wrapper" style="font-size: 20px; height:331px;">
      <p>글쓴이: {{ detail.author }}<br>
      동아리 이름: {{ detail.club_name }}<br>
      모집마감일: {{ detail.recruiting_period }}<br>
      모집인원: {{ detail.recruiting_number }}<br>
      작성날짜: {{ detail.created_at }}<br>
      최종수정날짜: {{ detail.updated_at }}<br>
    </div>
  </div>
</div>
<div style="word-break:break-all; margin-top: 70px; font-family: NanumBarunPen;">
  {{ detail.explanation }}
</div>
<div style="text-align: center; margin: 30px 0;">
  <a id="like_button" href="{% url 'ClubBoard:like' detail.pk %}">
    {% include 'like_button.html' %}
  </a>
    <script>
      $('#like_button').click(function (e) {
      var self = $(this);
      var url = self.attr('href');
      $.post(url)
          .done(function(r){
              self.html(r);
          })
          .fail(function () {
              alert('오류가 발생했습니다.');
          });
      return false;
    });
    </script>
  <a href="{% url 'ClubBoard:blog_list' %}" class="waves-effect waves-light btn" style="background: #c8c5c5;
    padding-left: 35px;
    padding-right: 35px;
    border: solid 1.5px gray;
    color: black;
    font-family: NanumBarunPen;">목록으로</a>
  <script>
    $('#article_delete_form').submit(function(e){
        if (!confirm('지우시겠습니까?')){
            e.preventDefault();
          }
      });
  </script>
</div>

{% endblock %}
